div {
  background-color: red;
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.odd {
  background-color: lightcoral;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd.cooler {
  font-size: 24px;
}

#second {
  color: blue;
  font-size: 36px;
  font-weight: normal;
}

#fourth {
  background-color: greenyellow;
  font-size: 24px;
  font-weight: bold;
}
